DB_USER=sa
DB_PASSWORD=120399
DB_SERVER=Ashraf-IT\\SQLEXPRESS
DB_DATABASE=PMS_DB
DB_PORT=1433
DB_ENCRYPT=false
# Set to true if your SQL Server instance uses encryption and you have SSL configured
# DB_OPTIONS_TRUST_SERVER_CERTIFICATE=false # Set to true if using self-signed certificate for local dev with encryption. Default is false.

JWT_SECRET=pms_super_secret_jwt_key_please_change_in_production_!@#$%^&*()
NODE_ENV=development
PORT=5000
